body,html {font-family: Verdana, Helvetica, Arial, sans-serif; color:#555555; font-size:90%; background-color:#FFFFFF}
a:hover {color:#DA251D; text-decoration:none}
a{ color:#199BDC; text-decoration:underline}
input.input_btn{ font-size:12px; text-decoration:none}
.error{ color: red}
.success{ color: green;}
h1, h2 {color:#105CB6;}
.godville {color:#105CB6; font-weight:normal; margin:0; padding:0}
h2 {text-align: left; margin-bottom: 1.0em}
#bookmarks{ background-color:#F6F6F9; border:1px solid #CCCCCC; bottom:0pt; font-size:0.9em; margin-top:2em; padding: 0.3em; clear:both; text-align: center}
 .pagination {clear:both; text-align: center; font-weight:normal; font-size:0.9em}
.markup-preview {background:#F3F3F3 url(../images/preview.png) repeat scroll center; border:1px solid #999999; color:#000000; height:158px; margin:0.5em 0pt; overflow:auto; padding:0.5em; width:90%}
blockquote{ border:1px solid #cda; border-left:3px solid #9a7; border-right:0; background:#efc; padding:1px 10px; margin-left:0; margin-right:0}
pre{ font-size:1.2em; background:#eee; padding:5px 10px; border:1px solid #ccc; border-left:3px solid #ddd; border-right:0; overflow:auto; font-family: "Monaco", "Bitstream Vera Sans Mono", "Courier New", serif}
div.editbox {background-color: #fcfcfc; border:1px solid #999999; border-width:1px 0; position:fixed; bottom:0; left:0; width:100%; padding:6px 0 7px; z-index:50; text-align: left}
div.editbox_iphone {border:1px solid #999999; border-width:1px 1px 1px 1px; margin-top:1em; background:url(/images/forum/reply_background.png); width:100%; z-index:50; text-align: left}
div.editbox .container {width:92%; margin:0 auto; min-width:760px}
#menu_bar{ font-size: 90%;  padding: 1em 0em 1em 0em; padding-bottom: 1em; text-align: center;  width: 100%}
#menu_bar ul {list-style: none; margin: 0; padding: 0}
#menu_bar li{ display: inline}
#menu_bar a:link, #menu_bar a:visited {  text-decoration: none;  }
#page_wrapper{ width:995px; margin-left:auto; margin-right:auto; height:auto}
#title {font-weight:bold; color:#199BDC; font-size:120%; text-align: left}
.panth_c_t {}
.panth_c_ch {font-style:italic}
.own {background-color: #FFFFE0;}
.el_link {text-decoration:none;}
.t_award_small {-moz-border-radius: 12px; -webkit-border-radius: 12px; -khtml-border-radius: 12px; border-radius: 12px; border: 1px solid #DF9900; line-height: 1.5; margin: 3px 0 3px 0; padding: 2px 7px 2px 7px; color:#AF5900; font-size: 12px; display: inline-block; width: auto; font-family:'Lucida Grande',Tahoma,Arial,Helvetica,sans-serif }
.t_award_bg1{border: 1px solid #CCAC69;background-color: #FFFFEB;}
.t_award_bg2{background-color: #FFFDC3;}
.t_award_bg3{background-color: #FCEDAE;}
.t_award_bgx{margin: 3px 3px 3px 3px; line-height: 1.5; padding: 1px 7px 5px 7px; color:#AF5900; font-size: 12px; font-weight:normal; display: inline-block; width: auto; font-family:'Lucida Grande',Tahoma,Arial,Helvetica,sans-serif; background: url(/images/award.svg) center no-repeat}
.t_award_w {}
.t_award_d {position:absolute;text-align:left; top:35px; left:30px; width:250px;background-color:#f5f5f5;padding:5px;border-radius: 3px;z-index:100;border: 1px solid #AAA;}
.t_award_d div {position:relative;}
.t_award_dt {color: #000;font-weight:normal;position:absolute;top:3px;left:35px;font-size:12px;font-family: Helvetica,Arial,sans-serif;}
.cmplt_status {-moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background-color: #FFFED0; border: 1px solid #BBBBBB; color: #444444; line-height: 1.5; margin: 3px 3px 3px 3px; padding: 2px 5px 2px 5px; position:absolute;z-index:1000; min-width:15em; text-align:center}
svg {pointer-events: visiblePainted; -webkit-user-select: none; -moz-user-select: none; user-select: none; margin: 0 auto; display:block}
.tile polygon {pointer-events: visiblePainted; stroke: hsl(0, 0%, 70%); stroke-width: 0.5}
.imp polygon {pointer-events: visiblePainted; stroke: hsl(0, 0%, 70%); stroke-width: 2.5}
.tile.imp.i1 polygon{fill: hsl(0, 90%, 92%);}
.imp.i2 polygon{fill: hsl(39, 93%, 77%);}
.imp.i3 polygon{fill: hsl(61, 93%, 77%);}
.imp.i4 polygon{fill: hsl(123, 90%, 92%);}
.imp.i5 polygon{fill: hsl(180, 90%, 92%);}
.imp.i6 polygon{fill: hsl(221, 92%, 79%);}
.imp.i7 polygon{fill: hsl(275, 92%, 79%);}
.tile.oi1 polygon{stroke: hsla(0, 89%, 62%, 1.0); stroke-width: 2.0}
.tile.oi2 polygon{stroke: hsla(39, 93%, 52%, 1.0); stroke-width: 2.5;}
.tile.oi3 polygon{stroke: hsla(61, 93%, 52%, 1.0); stroke-width: 2.5 }
.tile.oi4 polygon{stroke: hsla(123, 93%, 52%, 1.0); stroke-width: 2.0}
.tile.oi5 polygon{stroke: hsla(181, 93%, 52%, 1.0); stroke-width: 2.0}
.tile.oi6 polygon{stroke: hsla(221, 93%, 52%, 1.0); stroke-width: 2.0}
.tile.oi7 polygon{stroke: hsla(275, 100%, 48%, 1.0); stroke-width: 2.0}
.tile polygon {pointer-events: all; fill: hsl(200, 50%, 92%); stroke: hsl(0, 0%, 70%); stroke-width: 0.5}
polygon:hover {stroke-width: 1.0; stroke: hsl(0, 0%, 50%); !important;}
.rb polygon {fill: hsl(200, 50%, 87%);}
.tile.d_overlay polygon {fill: hsl(200, 0%, 85%);}
.tile.d_selected polygon {fill: hsl(200, 15%, 69%);}
.tile.unknown polygon {fill: hsla(60, 10%, 95%, 0.5);stroke:inherit;}
.tile.unknown.rb polygon {fill: hsla(60, 10%, 86%, 0.8);}
.tile.unknown polygon:hover {fill: hsla(60, 10%, 90%, 0.1);stroke: hsl(0, 0%, 70%);}
.tile.border polygon{fill: hsl(200, 40%, 70%);}
.tile.border.d_overlay polygon{fill: hsl(200, 40%, 58%);}
.tile.border.d_selected polygon{fill: hsl(200, 30%, 40%);}
.tile.island polygon {fill: hsl(53, 69%, 78%)}
.tile.island.d_overlay polygon {fill: hsl(53, 35%, 70%)}
.tile.island.d_selected polygon {fill: hsl(53, 35%, 50%)}
.tile.reefs polygon {fill: hsl(60, 40%, 94%);}
.tile.reefs.d_overlay polygon {fill: hsl(60, 40%, 84%);}
.tile.reefs.d_selected polygon {fill: hsl(60, 40%, 54%);}
.tile.monster polygon {fill: hsl(0, 28%, 87%);}
.d_overlay {cursor:pointer;}
.tile.q-axis-same polygon {fill: hsl( 90, 20%, 87%)}
.tile.r-axis-same polygon {fill: hsl(200, 15%, 90%)}
.tile.s-axis-same polygon {fill: hsl(300, 10%, 90%)}
.tile.q-axis-same.r-axis-same polygon {fill: hsl(60, 10%, 95%)}
.tile.q-axis-same tspan.q {fill: hsl( 90, 100%, 35%); font-weight: bold}
.tile.r-axis-same tspan.r {fill: hsl(200, 100%, 45%); font-weight: bold}
.tile.s-axis-same tspan.s {fill: hsl(300, 80%, 50%); font-weight: bold}
.dir_arrow{stroke-width:2}
.dir_arrow.pl1 {stroke: hsl(223, 51%, 30%);fill: hsl(223, 51%, 30%);}
.dir_arrow.pl2 {stroke: hsl(0, 57%, 40%);fill: hsl(0, 57%, 40%);}
.dir_arrow.pl3 {stroke: hsl(120, 50%, 40%);fill: hsl(120, 50%, 40%);}
.dir_arrow.pl4 {stroke: hsl(169, 74%, 30%);fill: hsl(169, 74%, 30%);}
.tile text {text-anchor: middle;font-size: 12px;pointer-events: none;}
.cpt4 text {font-weight: bold;}
.tile.tr_pl1 polygon{fill: hsla(223, 51%, 76%, 0.4);}
.tile.tr_pl2 polygon{fill: hsla(25, 81%, 67%, 0.2);}
.tile.tr_pl3 polygon{fill: hsla(120, 50%, 80%, 0.4);}
.tile.tr_pl4 polygon{fill: hsla(169, 74%, 51%, 0.3);}
.tile.pl1 polygon{fill: hsl(223, 51%, 76%) !important;}
.tile.pl1.d_overlay polygon{fill: hsl(223, 30%, 65%);}
.tile.pl1.d_selected polygon{fill: hsl(223, 30%, 45%);}
.tile.pl2 polygon{fill: hsl(25, 81%, 67%) !important;}
.tile.pl2.d_overlay polygon{fill: hsl(25, 55%, 67%);}
.tile.pl2.d_selected polygon{fill: hsl(25, 55%, 47%);}
.tile.pl3 polygon{fill: hsl(120, 50%, 80%) !important;}
.tile.pl3.d_overlay polygon{fill: hsl(120, 40%, 60%);}
.tile.pl3.d_selected polygon{fill: hsl(120, 40%, 40%);}
.tile.pl4 polygon{fill: hsl(169, 74%, 51%) !important;}
.tile.pl4.d_overlay polygon{fill: hsl(169, 57%, 40%);}
.tile.pl4.d_selected polygon{fill: hsl(169, 57%, 30%);}
 .tile.hl polygon {stroke: hsla(264, 93%, 52%, 0.83); stroke-width: 0.7}
.dir_resp {text-align:center;font-style:italic;font-size:90%;padding-top:10px;}
#hint {padding:0.5em;text-align:center;font-family: Verdana, Helvetica, Arial, sans-serif;font-size:12px;color:#555;}
@font-face {font-family: Em; src: url('/em.ttf')}
.em_font {font-family: 'Em', sans-serif;}
body,html {margin:0;padding:0;}
img {border-width:0;}
.page_wrapper{ display: table; margin: 0 auto; height:auto; min-width:995px}
.page_wrapper_2c{ width:760px; height:100%; float:left; margin-left: auto; margin-right: auto}
.page_wrapper_5c{ display: table; margin: 0 auto; height:auto; min-width:1335px}
#search_block {margin-left: auto; margin-right: auto; width:30em; text-align:center; margin-top:2em; padding:2em; background-color:#FAFAFA}
#spinner_search {margin:0.7em;}
#search_line2 {clear:both;}
#hero_block {font-size:0.96em;}
#turbo_light {margin-left:0.5em;cursor:pointer;}
#p_status {text-align:right;font-size:90%;color:#9F9F9F;margin-right:2em;}
.hint_bar{ margin-left: auto; margin-right: auto; width:50em; padding-top:1px; margin-bottom: 3px; padding-bottom: 0.5em; background:#FEFFE3 none repeat scroll 0 50%; border: 1px solid #DCDBB6; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; text-align:center; position:relative}
#h_prev {position:absolute;left:20px;top:5px;}
#h_next {position:absolute;right:20px;top:5px;}
#hint_capt {font-weight:bold;}
.hint_bar_capt{ padding-top:0.5em; padding-bottom:0.5em; position:relative}
.hint_bar_content {padding:1em 1em 0em 1em; clear:both;}
#hint_faq {padding:0.3em;}
#hint_controls {margin-bottom:0.8em;margin-top:0.5em;}
.hint_link {margin:1em;}
.dm_msg {margin-left: auto;margin-right: auto; text-align: center;position:relative;}
.dm_close {position:absolute; right:35px;}
.input_text {font:14px arial,sans-serif; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; -khtml-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; border: 1px solid #DDDDDD; padding: 5px; color: #444; background-color: #FFF}
.c_col{ width:448px; float:left; padding:0em 0.2em 0.2em 0.2em}
.s_col{ width:234px; float:left; padding:0em 0.2em 0.2em 0.2em}
.page_wrapper_5c .c_col {width:434px;padding:0em 0.2em 0.4em 0.2em;}
.page_wrapper_5c .s_col {width:219px;padding:0em 0.2em 0.4em 0.2em;}
.page_wrapper_2c .c_col {width:488px;padding:0em 0.4em 0.4em 0.2em;}
#right_right_block {padding:0em 0.4em 0.4em 0.2em;}
#a_right_right_block {padding:0em 0.4em 0.4em 0.2em;}
.block {clear:both; padding: 4px 4px 4px 4px; margin: 1em 0 1.5em 0; color: #333; background: #f0f0f0; line-height: 145%; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border: 1px solid #CCC; background-color:#F6F6F9;       }
.block_h {position:relative;height:20px;}
.opera_header_fix {height:20px;margin:-4px;background-color:#E8E8E8;}
.ie_header_fix {margin:-4px;background-color:#E8E8E8;}
.page_wrapper .c_col .opera_header_fix {width:446px;}
.page_wrapper .s_col .opera_header_fix {width:232px;}
.page_wrapper .c_col .ie_header_fix {width:446px;}
.page_wrapper .s_col .ie_header_fix {width:232px;}
.page_wrapper_5c .c_col .opera_header_fix {width:432px;}
.page_wrapper_5c .s_col .opera_header_fix {width:217px;}
.page_wrapper_5c .c_col .ie_header_fix {width:432px;}
.page_wrapper_5c .s_col .ie_header_fix {width:217px;}
.page_wrapper_2c .c_col .opera_header_fix {width:486px;}
.page_wrapper_2c .s_col .opera_header_fix {width:232px;}
.page_wrapper_2c .c_col .ie_header_fix {width:486px;}
.page_wrapper_2c .s_col .ie_header_fix {width:232px;}
.ie_block_fix {}
.l_slot {position:absolute;left:0px;}
.r_slot {position:absolute;right:7px;text-align:right;width:48px;top:0px;}
.b_handle {padding-left:0.3em;padding-right:0.2em;font-size:1.1em;font-weight:bold;cursor:move;}
.h_min {font-weight:bold;font-size:1.1em;cursor:pointer;padding-left:0.3em;padding-right:0.1em;}
.m_hover:hover{color:#DA251D;}
.refresh_ch {font-size:16px;padding-right:0.3em;padding-left:0.3em;}
#d_refresh {position:absolute; right:10px;top:0px;}
#diary .block_h .r_slot img {padding-right:1.5em}
.sort_ch {padding-right:0.3em;padding-left:0.1em;}
.group_wrapper {min-height: 400px;}
.sortHelper{ border: 3px dashed #666; width: auto !important;}
.widget-placeholder {border: 2px dashed #999;margin-top:1em;}
.block_title {text-align:center;height:20px;;font-weight:bold;;color:#444;;font-size:1em;margin: 0 auto}
.page_wrapper_2c .c_col .block_title {margin-left:40px;;margin-right:40px;width:400px;}
.s_col .block_title {margin-left:40px;;margin-right:40px;width:146px;}
.page_wrapper_5c .s_col .block_title {margin-left:35px;margin-right:35px;width:140px;}
.block_content {padding:10px 5px 5px 5px;clear:both;}
.line{ text-align: center; clear: both; padding-top: 4px}
.oppl {position:relative;}
.l_capt{ float:left; text-align: left; font-weight:bold; display: inline; clear: left; margin-right:0.3em}
.l_val {text-align: right;  }
.turn_separator {border-bottom: 1px dashed rgb(136, 136, 136);}
.turn_separator_inv {border-top: 1px dashed rgb(136, 136, 136);}
.page_wrapper_5c .turn_separator{}
.page_wrapper_5c .turn_separator_inv{}
.opp_infl {color:#800000;}
.d_imp {font-weight:bold;}
.d_time {float:left;width:47px;}
.c_col .d_time {margin:0 -47px 0 0;}
.c_col .d_msg {text-align:left;padding-left:52px;word-wrap:break-word;white-space: pre-wrap;}
.s_col .d_msg {text-align:left;padding-left:5px;word-wrap:break-word;}
.m_infl {color:#38599A;}
.s_col .d_time {display:inline;}
.d_line {padding:4px 5px 7px 0px;position:relative;}
#diary {padding-left:0px;}
#diary.ie_block_fix {padding-left:4px;}
.d_line_links {position:absolute;right:170px;top:-35px;background-color: #FCFCFC;padding:2px 2px 4px 2px;border: 1px solid #bbb;z-index:100; -webkit-box-shadow: 0px 0px 5px #C7C7C7; -moz-box-shadow: 0px 0px 5px #C7C7C7; box-shadow: 0px 0px 5px #C7C7C7; font-size:90%; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-raduis: 3px}
.fb_share {display:inline-block;padding: 0px 1px 1px 0px;}
.fb_share img {;margin-right:4px;}
.d_tweet {display:inline-block;position:relative;padding-top:1px;padding-left:3px;}
.d_vk {display:inline-block;position:relative;padding-top:3px;padding-left:3px;}
.d_line_links > .triangle {position: absolute; top: 28px; left: 27px; float: left; font-size: 0px; line-height: 0%; width: 0px; border-bottom: 7px solid rgba(196,229,249,0); border-left: 7px solid rgba(196,229,249,0); border-right: 7px solid rgba(196,229,249,0); border-top:7px solid #bbb}
.s_col .d_line_links {width:65px;right:70px}
.d_tweet a {display: block; padding: 2px 5px 2px 2px}
div.p_bar {float: right; border: #999 1px solid; width: 99%; height: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-raduis: 4px; background-color: #FFF; position:relative}
div.p_val {background-color: #777; width: 100%; height: 8px; margin-left:0px; float:left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-raduis: 3px}
div.q_name {font-style:italic; clear:both; text-align:right; width:100%}
div.f_news {text-align:center;}
.inv_block ul {margin:0;padding-left:1.5em}
.inv_block li {;padding-right:5px;}
.inv_craft_popover {padding:5px}
.inv_header {line-height:120%;margin-bottom:0.2em;margin-top:0.2em;text-align:left;}
.inv_empty {text-align:center;margin-top:1em;}
.inv_craft_popover li {text-align:left;}
#invite_intro {text-align:left;}
#invite_email_label {text-align:left;}
#invite_email_label {margin-top:0.7em;}
.s_col #invite_email {width:200px;}
.c_col #invite_email {width:420px;}
#invite_message {resize: vertical;}
.s_col #invite_message {width:200px;}
.c_col #invite_message {width:420px;}
.page_wrapper_5c .s_col #invite_email {width:190px;}
.page_wrapper_5c .c_col #invite_email {width:410px;}
.page_wrapper_5c .s_col #invite_message {width:190px;}
.page_wrapper_5c .c_col #invite_message {width:410px;}
.invite_submit_w {width:100%;clear:both;text-align:center;margin-top:0.4em;}
.invite_submit_w input {white-space: normal;}
.t_error {color:red}; .c_col .pbar {width:400px;}
.h_motto {font-style:italic;}
.motto_edit_sym {;padding-left:0.5em;}
.motto_edit {float:right;}
.motto_status {clear:both;}
#motto_input {float:left;width:145px;}
#pet_name_input {float:left;width:145px;}
.motto_edit_control {font-size:18px;float:left;padding:6px 3px 0px 1px;margin-left:2px;}
.pbar {clear:both;}
.gp_label {float:left;width: 70px;font-weight:bold;line-height:1.2em;}
.gp_val {float:right;width:48px;}
.c_col .gp_val {width:65px;}
.s_col .gp_label {text-align:left;}
.s_col .gp_val {text-align:right;}
.pbar .p_bar {float:left;margin-top:4px;}
.c_col .pbar .p_bar {width:275px;}
.c_col .pbar {position:relative;}
.c_col .pbar .p_bar {width:100%;}
.n_pbar {margin-top:0.3em;}
.st_div {height:100%;border-left: 2px solid #5a5a5a;position: absolute;}
.c_col .gpbw {position:absolute;top:5px;left:80px;right:83px;}
.r_blocked {clear:both;text-align:center;font-weight:bold;padding-top:0.5em;}
.voice_line {clear:both;padding-top:5px;padding-bottom:5px;position:relative;}
.s_col #godvoice {width:177px;}
#godvoice {font-size:14px; overflow:hidden; resize: vertical; box-sizing:border-box; padding-top: 6px; padding-right: 25px;}
.s_col #godvoice {width: -moz-calc(100%); width: -webkit-calc(100%); width: -o-calc(100%); width: calc(100%)}
.c_col #godvoice {width:98%; width: -moz-calc(100%); width: -webkit-calc(100%); width: -o-calc(100%); width: calc(100%)}
.page_wrapper_5c .s_col #godvoice {width:198px;}
#voice_submit {width:70px;}
.c_col #ve_wrap {position:relative;margin-right:80px;}
.c_col #voice_submit_wrap {position:absolute;right:0;top:7px;}
.s_col #voice_submit_wrap {width:100%;text-align:center;}
.c_col #voice_submit {float:right;margin-right:0px;margin-top:3px;}
.s_col #voice_submit {margin-top:6px;}
#v2l {text-align:center;font-style:italic;font-size:90%;padding-top:10px;}
#pcmd {text-align:center;font-style:italic;font-size:90%}
#tordr {text-align:center;font-style:italic;font-size:90%;}
.gvl_popover {font-size:150%;width:20px;margin-right:1px;position:absolute;right:3px;bottom:12px;}
.gv_list_empty {;margin:2em;}
.v_resend {;width:20px;margin-right:1px;position:absolute;right:23px;bottom:7px;}
.no_link {text-decoration: none;color:#333}
.no_link:hover {color:#333;}
.div_link {text-decoration: underline;color:#199BDC;}
.div_link:hover {text-decoration:none; cursor:pointer;color:#DA251D;}
.div_link_nu {text-decoration: none;color:#199BDC;cursor:pointer;}
.div_link_nu:hover {cursor:pointer;color:#DA251D;}
.b_link {font-weight:bold;}
.refresh_link:hover {color:#DA251D;}
.item_act_link_div {display:inline;text-decoration:none;}
.header_cursor {cursor:pointer;}
.acc_line {padding-top:0.5em;padding-bottom:0.2em;position:relative;}
.ch_title {padding-right:0.5em;}
.c_col .ch_title {width:200px;}
#actions {clear:both;float:left;padding-top:0.5em;width:100%;}
.acc_progress {font-size:90%;}
.c_col .battery {width:210px;margin: 0 auto;}
.page_wrapper_2c .c_col .battery {left:160px}
.s_col .battery {padding-bottom:0.5em;}
.ch {padding-left:2px;padding-right:2px;}
.ch_e {color:#CCCCCC;}
.ch_f {color:#199BDC;}
.acc_val {padding-left:0.5em;padding-right:0.5em;margin-left:0.5em;font-weight:bold;cursor:pointer;}
.c_col .ch_link {}
.c_col .dch_link {}
.s_col .dch_link {position:absolute;top:29px;}
.s_col .ch_link {position:absolute;top:29px;}
.c_col .hch_link {position:absolute;right:0;top:6px}
.s_col .hch_link {position:absolute;top:29px;right:5px;}
.s_col .acc_line {min-height: 40px;}
#acc_links_wrap {float:left;text-align:left;margin-left:0.5em;margin-right:0.5em}
.s_col .acc_line {min-height: 45px;}
.s_col .ch_link{top:45px;width:100%;text-align:center;}
.c_col .enc_link {margin-left:0;width:120px;display:inline;}
.c_col .pun_link {margin-left:130px;width:120px;display:inline;}
.s_col .enc_link {float:left;width:85px;clear:both;}
.s_col .pun_link {float:right;width:85px;clear:right;}
.s_col .mir_link {clear:both;text-align:center;padding-top:0.2em;}
.s_col .to_arena {clear:both;text-align:center;}
.mir_link_wrap {text-align:center;}
.arena_msg {text-align:center;float:left;clear:both;width:100%;}
.arena_link_wrap {text-align:center;padding-top:0.5em;clear:both;}
.arena_time_str {white-space:nowrap;}
#cntrl1 {text-align:center;position:relative;width:100%;}
#cntrl2 {text-align:center}
.page_wrapper_2c .c_col #cntrl2 {text-align:center;margin-left:115px;width:250px;}
.eq_line {margin-bottom:2px;clear:both;float:left;}
.eq_capt {font-weight: bold;float:left;text-align:left;}
.c_col .eq_capt {width:130px;}
.s_col .eq_name {float:left;margin-top:-2px;text-align:left;line-height:120%;}
.c_col .eq_name {float:left;text-align:left;left:40px;}
.s_col .eq_level {float:right;margin-top:9px;font-size:110%;}
.c_col .eq_level {float:right;font-size:115%;}
.s_col .eq_empty {color:#9F9F9F;margin-top:0px;}
.c_col .eq_empty {color:#9F9F9F;margin-top:0px;}
.monster_pb {margin-top:0.2em;}
.eq_b {font-weight:bold;}
.s_col .eq_capt {width:155px;}
.s_col .eq_name {width:155px;font-size:90%;}
#no_skills {padding-top:1.2em;}
.skills_block ul {margin:0;padding-left:0.3em;font-size:95%;margin-top:0.7em;list-style: none;}
.skills_block li {position:relative;float:left;clear:both;line-height:120%;padding-bottom:0.4em;padding-right:0.2em;width:100%;}
.skill_name {float:left;}
.skill_info {font-size:85%;color:#7F7F7F;margin-left:0.8em;}
.s_col .skill_info {float:right;}
.c_col .skill_info {position:absolute;left:200px;}
#selector_line {width:100%;margin-bottom:0.5em;}
#feedback_id {margin-left:0em;width:100%;}
.s_col #feedback_id {margin-bottom:0.5em;}
#feedback_submit_w {width:100%;clear:both;text-align:center;margin-top:0.4em;}
.ib_capt {}
.ib_desc {font-size:90%;;margin-left:0.7em;color:#5F5F5F;line-height:120%;}
.idea_error {color:red;display: inline-block;text-align:center;}
.c_col .idea_error {margin-left:1em;}
.idea_notes {font-style:italic;font-size:90%;line-height:120%;}
#feedback_status {text-align:center;padding-top:0.5em;white-space: pre-wrap;}
.c_col #ideabox .input_text {width:97%;}
.s_col #ideabox .input_text {width:94%;}
.approved_link {text-align:center;margin-top:0.5em;}
.vote_links_b {color:#9F9F9F;text-decoration:none;}
.vote_link {text-decoration:none;}
.reset_layout {padding-bottom:5em;width:550px;margin-left:auto;margin-right:auto;z-index:301;}
.reset_layout span {padding-left:1em;padding-right:0.2em;}
.reset_layout div {margin-top:0.5em;}
.fh_content {position:relative;float:left;width:100%;}
.wl_line {border-bottom: 1px solid #DDDDDD; padding: 0.4em 0.3em 0.4em 0.8em;text-align:center;clear:both;float:inherit;width:270px;position:relative;}
.wl_line_f {float:left;clear:both;width:250px;text-align:left;padding:0.5em;font-size:90%;}
.opp_name {width:175px;text-align:left;}
.wl_stats {position:absolute;right:20px;top:5px;}
.lv_text {width:210px;text-align:left;}
.lv_close {position:absolute;right:10px;top:5px;}
#gv_popover_c {max-height:500px;overflow:overlay;}
#lf_popover_c {max-height:500px;overflow:overlay;}
.bar_spinner {float:left;padding-right:0.5em;padding-top:0.2em;vertical-align: bottom;border-width: 0px}
.spinner_img {background: url("/images/spinner_w.gif") no-repeat;height: 16px;width: 16px;border-width: 0px;margin: 0;padding: 0;}
.panth_line {position:relative;clear:both;}
.panth_val {text-align:right;margin-right:0px;font-size:0.96em;}
.panth_capt {float:left;display:inline;width:347px;text-align:left;}
.panth_badge {top:1px;left:18px;}
.s_col .panth_capt{width:125px;}
.p_group_sep {border-bottom: 1px solid #DDDDDD;padding-bottom:0.5em;}
.p_pos {width:40px;float:right;position:absolute;right:40px;margin-top:1px;}
.p_pos_plus {font-size:80%; color: #59A80F;}
.p_pos_minus {font-size:80%; color: #F02311;}
 .msgDockWrapper {bottom:0; height: auto; position:fixed; width:100%; left:auto; right:5px; z-index:300}
.chat_ph{position:absolute;right:205px;left:auto;bottom:0;}
.msgDock {-moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; -khtml-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; background-color:#FAFAFA; -webkit-box-shadow: 0px 0px 5px #6A6A6A; -moz-box-shadow: 0px 0px 5px #6A6A6A; box-shadow: 0px 0px 5px #6A6A6A;   position:relative; width: 200px; float:left; height:25px}
.ie_fix .msgDock {border-color:#999; border-style: solid; border-width: 1px 1px 0 1px}
.msgDockPopup {bottom:25px; position:absolute; width: 200px; background:#fff; right:0; -webkit-box-shadow: 0px 0px 30px #9E9E9E; -moz-box-shadow: 0px 0px 30px #9E9E9E; box-shadow: 0px 0px 30px #9E9E9E; background-color:#F6F6F6;  border-radius: 1px; z-index:301}
.msgDockPopupW {overflow-x: hidden; overflow-y:auto}
.ie_fix .msgDockPopup {border-color:#999; border-style: solid; border-width: 1px 1px 0 1px}
.frbutton {padding-top:3px;height:25px;text-align:center;float:right;cursor:pointer;}
.frbutton:hover{}
.frbutton_m_pressed {}
.frbutton_pressed {background-color: #E1E1E1}
#fr_cnt{font-size:90%;text-align:center;padding:0.7em;border-top:1px solid #DDDDDD;color:#888;}
.msgDock .div_link {text-decoration:none;}
.msgDock .div_link:hover {color:#DA251D;}
.fr_new_badge {position:absolute; height:13px; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px; -moz-border-radius: 9px; -webkit-border-radius: 9px; -khtml-border-radius: 9px; border-radius: 9px; font-size:10px; line-height:110%; color:#627D90;  background-color:#D8EDF9; border-color: #627D90; border-width: 1px; border-style: solid; font-weight:bold; text-align:center}
.gc_new_badge {background-color:#F9F9F9; color:#909090; border-color: #909090}
.fr_new_badge:hover{background-color:hsl(202, 60%, 84%);}
.gc_new_badge:hover{background-color:hsl(0, 0%, 85%);}
.fr_new_badge_pos {left:5px;top:4px;}
.gc_new_badge_pos {right:5px;top:4px;}
.fb_round_badge {background-color:#D8EDF9;color:#627D90;border-color:#627D90;}
.fr_no_friends {text-align:center;padding:1em;}
.frline {text-align:left;clear:both;height:20px;border-top: 1px solid #DDDDDD;overflow: hidden; text-overflow: ellipsis;white-space:nowrap;padding:0.5em;position:relative;cursor:pointer;}
.frline:hover{background:#EBEBEB;}
.frline .div_link {text-decoration:none;}
.frline .div_link:hover {color:#DA251D;}
.frline_a {background:#EBEBEB;}
.dockfrname_w {float:left;width:150px;cursor:pointer;}
.fr_new_msg {margin-right:0.5em;color:#627D90;}
.dockfrname_w .fr_new_msg {margin-top:0.1em;float:left;margin-right:0;margin-left:0.5em;}
.opera_fix .dockfrname_w .fr_new_msg {margin-top:0.3em}
.ie_fix .dockfrname_w .fr_new_msg {margin-top:0.2em}
.frname {}
.frmsg {font-size:80%;margin-left:0.5em;display:inline;}
.frmsg_o {color:#bbb;}
.frmsg_i {color:#666;}
.frlist_right {position:absolute;right:0;top:0;padding:0.5em 0.5em 0.8em 0.7em;background-color:#eee;font-weight:bold;;}
.frdelete_link {font-size:18px;position:absolute;left:0;top:0;text-align:right;padding-left:3px;}
.fropts_link {font-size:18px;position:absolute;left:0;top:0;text-align:right;padding-left:3px;}
.fropts_div {position:absolute;width:250px;background:#EFEFEF;box-shadow: 0px 0px 30px #9E9E9E;z-index:305;}
.fropts_div .frline {text-align:center;cursor:auto;}
.fropts_div .div_link {cursor:pointer;}
.fropts_d {background:#EBEBEB;}
.fr_opts_spacer {height:20px;padding:0;background:#EBEBEB;}
.fropts_div .div_link {padding-top:5px;padding-bottom:5px;}
.fr_msg_delete_link {position:absolute;left:20px;top:0;text-align:right;padding-top:3px;font-family:verdana,arial,helvetica,code2000,sans-serif,segoe UI Symbol;}
.frclose_link {position:absolute;right:0;top:2px;text-align:right;padding-right:3px;}
.fsearchbar {padding-top:0.5em;height:30px;}
.fsearchbar input {width:175px;}
.fr_pinned {width: 0; height: 0; border-style: solid; border-width: 7px 7px 0 0; border-color: #bbb transparent transparent transparent; position:absolute; top:0; left:0}
.frDockCell {padding-right:0.5em;padding-top:0.1em;width:150px;margin-right:2px;float:right;}
.dockfrname {float:left;padding-left:0.5em;padding-top:0.2em;overflow: hidden; text-overflow: ellipsis;}
.dockfr_close {float:right;position:absolute;right:0.5em;top:0.2em;}
.dockfr_ppage {float:right;position:absolute;right:2.2em;top:0.2em;}
.frMsgBlock {position:absolute;width:350px;bottom:25px;background:#fff;border: 1px solid #DDDDDD;left:auto;right:-1px; -webkit-box-shadow: 0px 0px 30px #9E9E9E; -moz-box-shadow: 0px 0px 30px #9E9E9E; box-shadow: 0px 0px 30px #9E9E9E; z-index:302}
.ie_fix .frMsgBlock {border-color:#999; border-style: solid; border-width: 1px 1px 0 1px}
.fr_chat_header {padding:0.3em 2.0em 0.4em 2.0em;background-color:#E8E8E8;text-align:center;}
.frMsgArea {overflow-x: hidden;overflow-y:auto;padding-top:1em;position:relative;}
.gc_topic {padding: 0.3em 2.0em 0.4em 2.0em;text-align:center;cursor:pointer;background-color:#F6F6F6;word-wrap:break-word;}
.frInputArea {position:relative;}
.frInputArea textarea {;margin:0;outline:none;overflow:auto;overflow-x:hidden;padding:4px 4px 4px 4px;border: 1px solid #ddd;resize: vertical;}
.fr_msg_l {padding:0.5em;border-top: 1px solid #DDDDDD;position:relative;text-align:left;white-space: pre-wrap;word-wrap: break-word;}
.fr_msg_l_my {color:#999;font-style:italic;}
.fr_no_messages {text-align:center;padding:1em;color:#aaa;}
.fr_msg_meta {position:absolute;right:30px;top:-7px;background-color:#fff;font-size:80%;}
.fr_auth_lab {right:8px;}
.gc_fr_msg_meta {color:#999;}
.gc_fr_el {padding-left:0.3em;padding-right:0.3em;}
.gc_fr_god {text-decoration:none;}
.gc_fr_god:hover {cursor:pointer;}
.gc_status {position:absolute; bottom:45px;text-align:center;width:100%;padding:0.5em 0 0.5em 0;}
.gc_fr_ban {position:absolute;top:-1px;left:-75px;cursor:pointer;}
.gc_status {background:#efefef;}
.gc_fr_page {position:absolute;top:-1px;left:-25px;cursor:pointer}
.gc_fr_msg {position:absolute;top:-1px;left:-50px;cursor:pointer}
.show_gc {text-align:center;border-bottom: 1px solid #DDD;}
.fr_line_top {background:#F7F7F7;}
.fr_msg_delete {position:absolute;top:-7px;right:5px;font-style:normal;background-color:#fff;font-size:80%;cursor:pointer;}
.fr_msg_next {text-align:center;cursor:pointer;}
.fr_msg_spinner {position:absolute;right:15px;}
.fr_msg_loading {text-align:center;padding:1em;font-style:italic;}
.msg_spinner {position:absolute;right:5px;top:5px;}
#bottom_bar {width:750px; margin-left: auto; margin-right: auto; left:50%; margin: 0 0 0 -375px; text-align:center; border: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px 5px 0px 0px; -webkit-box-shadow: 0px 0px 5px #B0B0B0; -moz-box-shadow: 0px 0px 5px #B0B0B0; box-shadow: 0px 0px 5px #B0B0B0;  z-index:500}
.dfdbk_text {width:650px;float:right;padding-right:1em;}
.dfbk_close {margin-top:0.5em;padding:0;}
.dfbk_close a {padding:0.5em;}
.tfdbk textarea {width:540px;}
#layout_selector{margin-bottom:0;width:300px;margin-left:185px;text-align:right;height:20px;}
#layout_selector span{margin-right:0.8em;position:absolute;left:175px;padding-top:2px;}
#layout_selector select {width:105px;position:absolute;left:320px;}
#theme_selector {margin-bottom:0;width:300px;margin-left:185px;text-align:right;height:20px;}
#theme_selector span{margin-right:0.8em;position:absolute;left:175px;padding-top:2px;}
#theme_selector select {width:105px;position:absolute;left:320px;}
.set_line input {margin-left:1em;}
.t_icon {font-size:12px;cursor:pointer;text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;padding-left:2px;padding-right:2px;position:relative;top:-1px;}
.t_yellow {color:#F9ED9A;}
.t_red{color:#FB8383;}
.t_blue{color:#D2E5FF;}
.gp_bpar_c .p_val {background-color:#199BDC;}
#page_settings_link{font-weight:normal;font-size:1.2em;padding-left:0.2em;padding-right:0.2em}
.s_popup {padding: 20px 30px; text-align: left; max-width: 600px; margin: 40px auto; position: relative; background: #F7F7F7}
.popup {position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4); -moz-box-shadow: 0 0 18px rgba(0,0,0,0.4); box-shadow: 0 0 18px rgba(0,0,0,0.4)}
.c_popup {max-width:400px;}
.c_popup_b {text-align:center;}
.c_popup_b input {margin:1em;width:110px;}
 .my-mfp-zoom-in .zoom-anim-dialog {opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8)}
 .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1)}
 .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {-webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); opacity: 0}
 .my-mfp-zoom-in.mfp-bg {opacity: 0; -webkit-transition: opacity 0.3s ease-out; -moz-transition: opacity 0.3s ease-out; -o-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out}
 .my-mfp-zoom-in.mfp-ready.mfp-bg {opacity: 0.3}
 .my-mfp-zoom-in.mfp-removing.mfp-bg {opacity: 0}
.set_line {text-align:center;clear:both;width:100%;margin-bottom:0.7em;position:relative;}
.set_line img {position:absolute;left:421px;}
.opt_line {text-align:center;}
#rl3 {width:50%;float:left;}
#rl5 {width:50%;float:right;}
#gp_tre_capt {float:left;width:50%;}
#gp_thre_val {width: 30px;margin-right:0.3em;}
.s_c1 {width:370px;text-align:left;}
.setting_tbl {width:570px;padding-left:100px;}
.content h4 {clear:both;float:left;width:100%;margin-bottom:0.5em;margin-top:1em;text-align:center;}
.content h2 {text-align:center;color:#555;margin:0;font-size:1.7em;}
.ps_fr_left {float:left;width:200px;text-align:center;margin-left:100px;margin-top:1em;}
.ps_fr_right {float:right;width:50px;text-align:right;margin-right:200px;}
#ps_footer {font-size:80%;}
#ob_intro {font-size:14pt;padding: 1.5em 3em 2em 3em;}
#ob_footer {font-size:12pt;padding: 1.5em 3em 2em 3em;}
.webgl_failed {text-align:center;}
.c_col #example {margin-left:120px;}
.s_col #example {margin-left:10px;}
.page_wrapper_5c .s_col #example {margin-left:0px;}
#ps_d_share_wrap {padding:0.7em;position:relative;}
#ps_d_share_wrap img {position:absolute;}
.tep {overflow:auto;}
.tep > .d_content > .line > .d_msg {text-align:left;font-size:90%;padding-left:53px;padding-right:7px;white-space: pre-wrap;}
.tep > .d_content > .line > .d_time {font-size:75%;width:48px;text-align:center;margin-top:1px;}
#imp_button {position:absolute;left:34px;cursor:pointer;font-size:16px;font-weight:bold;top:1px;}
#imp_button.fr_new_badge {font-size:11px;top:2px;font-weight:normal;}
.s_col #imp_button {left:24px;font-size:12px}
.s_col.b_handle {}
.s_col #diary .b_handle {padding:0}
.s_col #diary .sort_ch {padding:0}
.s_col #m_fight_log .b_handle {padding:0}
.s_col #m_fight_log .sort_ch {padding:0}
.diary_cs {border-top: 1px solid #EAEAEA;margin-top:5px;padding-top:5px;}
.diary_cs_t {position:absolute;font-size:80%;top:-7px;text-align:right;right:10px;background-color:#fff;color:#999;}
#chf_popover_c {max-height:500px;}
.chf_line {text-align:left;min-height:20px;border-top: 1px solid #DDDDDD;overflow: hidden; ;padding:0.5em;position:relative;cursor:pointer;}
.chf_line:hover{background:#EBEBEB;}
.chf_link {width:50%;float:left;padding-top:1em;padding-bottom:1em;}
.chf_link_wrap {text-align:center;}
.chf_filt {height:30px;}
.chf_filt input {width:275px;}
.ach_c span {padding:0.5em;}
.ach_l {padding-bottom:0.7em;}
.ach_h {font-weight:bold;}
#gc_banned_t {margin-top:1em;}
#gc_banned_t td {width:150px;}
.gc_banned_link {font-size:18px;position:absolute;left:3px;top:0px;}
.gc_sys_msg {font-size:80%;font-style:italic;color:#aaa;text-align:center;}
.fightblink {padding:5px;}
#fbclink {font-size:1.2em;margin:5px;}
.opp_n {text-align:left;word-wrap:break-word;white-space: pre-wrap;}
.opp_h {float:right;text-align:right;margin-right:4px;}
.opp_dropdown {float:right;height:13px;padding:0px 1px 2px 1px;text-align:center;font-weight:bold;font-size:10px;cursor:pointer;color:#199BDC;}
.opp_g {font-style:italic;}
.opp_ng {color:#aaa}
.opp_p_content {padding:0.2em 0.7em 0.5em 0.7em;font-size:0.96em;max-height:500px;}
.opp_inv_bl {clear:both;text-align:left;padding-bottom:1em}
.opp_inv_bl ul {margin:0;padding-left:1.5em;clear:both;}
#search_progress {padding:0.7em;}
#search_line1 {padding-top: 0.5em;}
.wup_line {min-height:20px;text-align:left;border-top: 1px solid #DDDDDD;overflow: hidden; text-overflow: ellipsis;white-space:nowrap;padding:0.5em;position:relative;min-width:200px}
#t_content {padding:0.5em;width:200px}
#t_orders {padding-left: 1.5em;margin:0;}
#t_status {;text-align:center;}
#send_feedback_form textarea {position:relative;z-index:10;}
#invite_friend textarea {position:relative;z-index:9;}
.pm_link {text-decoration: none;padding-left:0.5em;font-size:80%;}
.hp_diff {float:right; color:red;font-size:80%;min-width:25px;margin-right:3px;}
.hp_d {float:right;font-size:80%;text-align:right;margin-right:5px;}
.hp_green {color: green;}
.hp_red {color:red;}
.s_col .hp_diff {position: absolute;top: 18px;right: 33px;}
.saild_1 {background-color:rgba(163, 180, 225, 0.25)}
.saild_2 {background-color:rgba(239, 161, 105, 0.25)}
.saild_3 {background-color:rgba(179, 230, 179, 0.25)}
.saild_4 {background-color:rgba(38, 223, 189, 0.25)}
#m_fight_log > .block_content {padding:10px 0px 5px 0px}
#turn_pbar {padding:7px 10px 19px 9px}
#m_fight_log > .d_content{padding-top:5px;}
.tile text {font-size: 10px;}
.tile.d_overlay:hover polygon {fill: hsl(200, 15%, 69%) !important;}
.tile.border.d_overlay:hover polygon{fill: hsl(200, 30%, 40%);}
.wbp_segment {text-align:center;position:relative;clear:both;}
.i_notif {width:60px;}
.cr_inv {padding-left:5px;font-size:13pt;text-decoration: none;position:absolute;}
.cr_inv:hover {text-decoration: none}
#zoom_in {position:absolute;right:23px;outline:none}
#zoom_out {position:absolute;right:42px;outline:none}
#pop_out {position:absolute;right:10px;outline:none;top:0;font-size:11px;}
#s_map .r_slot {width:71px;}
.z_disabled {color:#999}
.dir_resp {text-align:center;margin-top:1em;font-style:italic;font-size:90%;}
.w_handle {float:left;color:#BBB;font-size:110%}
.w_handle:hover {color:#111;cursor:move;}
.wh5c {margin-left: -7px;width:0;}
.wl_sep {padding:0.5em;}
.bold {font-weight:bold}
.wl_date {text-align:left;width:130px}
.wl_ftype {width:140px;}
.wl_ftype span {margin-left:0.5em;}
.ve_popup {max-width: 740px;min-height:750px;}
.ve_line {padding-top: 6px;clear:both;float:inherit;position:relative;text-align:left}
.ve_input {width:715px}
.ve_handle {position:absolute;left:-15px;top:10px;cursor:move;}
.ve_del {position:absolute;right:-15px;top:10px;}
.ve_list_empty {text-align:center;padding-top:2em;}
.ve_s {text-align: center;padding-top:1em;}
.ve_c {padding-top:0.5em;}
.ve_b {position: absolute;top: 7px;right: 24px;}
.ve_add {;margin-right:15px}
#fbWarn{ margin-left: auto; margin-right: auto; width:50em; padding:10px; margin-bottom: 3px; background:#FEFFE3 none repeat scroll 0 50%; border: 1px solid #DCDBB6; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; text-align:left; position:relative}
.save_load {float:right;clear:none;}
.save_load div {padding-left:10px; float:left;padding-right: 14px;}
.bps_capt {position:absolute;display:inline;width:85px;text-align:left;font-weight:bold;left:5px;top:6px;}
.bps_val {text-align:right;margin-right:0px;font-size:0.96em;position:relative;margin-left:110px;margin-right:30px;}
.bps_val2 {right:12px;left:auto;}
.bps_line {min-width:300px;position:relative;}
.bps_line a {position:absolute;right:10px;top:6px}
.bps_val2 a {right:0px;}
.bps_c {text-align:center;padding:7px 7px 15px 7px;}
.bps_mf {padding:6px;height:27px;line-height: 145%;}
.bps_b {padding:0 25px 10px 25px;text-align:center;width:250px;}
.chfp::after {content: " ✓"}
#hmap_svg {padding-left:8px;}
.page_wrapper_5c .s_col #hmap_svg {padding-left:0px;}
.page_wrapper_5c .s_col .tmapp {right: 9px;}
.hmap_info {position:absolute}
#hmap_tlink {font-weight:normal;font-size:100%;}
#hmap_ttype {font-size:90%;}
.pm_link_chf {position:absolute; top:0;right:0;padding:0.5em 0.5em 0.8em 0.7em;text-decoration:none;}
.bps_name .bps_val{margin-left: 220px;margin-right: 0;}
.bps_note {padding:1px;}
#bps_ra {text-align:center;padding-top:0.7em;}
#hint {padding:0.5em;text-align:center;font-family: Verdana, Helvetica, Arial, sans-serif;font-size:12px;color:#555;}
@font-face {font-family: Em; src: url('/em.ttf')}
.em_font {font-family: 'Em', sans-serif;}
#content {width:410px;background:#f6f6f6;line-height:145%;font-size: 0.96em;font-family: Verdana, Helvetica, Arial, sans-serif;color: #333;}
.wrmap {border: 5px double #dcdada;margin: 0 auto;border-radius: 15px;}
.dmw {border: 1px solid #aaa;background-color:rgba(0, 0, 0, 0.1);}
.rmv {background-color:rgba(25, 155, 220, 0.2);}
.rmv:hover {background-color:rgba(25, 155, 220, 0.2);cursor:pointer;}
.rmve {border: 0px;background-color: rgba(0, 0, 0, 0.045);}
.rmvs {background-color:rgba(249, 227, 73, 0.8);}
.rmv:hover {background-color:rgba(25, 155, 220, 0.2);cursor:pointer;}
.rml {clear:both;margin-left:auto;margin-right:auto;position:relative;height:31px;}
.rmc {font-size: 12px;overflow: hidden;white-space: nowrap;text-align: center;width: 29px;padding-top:6px;padding-bottom:6px;float:left;padding-left:1px;position:absolute;border-radius: 8px;user-select: none;-webkit-user-select: none;}
.rmb {background-color:rgba(222, 197, 19, 0.48);border-radius: 15px;}
.rmv>.dm2 {background-color: #199BDC;}
.rdw:after {border-left: 3px solid #199BDC;content: "";position: absolute;left: 0px;top: 0;height: 100%;}
.rdn:after {border-top: 3px solid #199BDC;content: "";position: absolute;left: 0px;top: 0;width: 100%;}
.rde:after {border-right: 3px solid #199BDC;content: "";position: absolute;right: 0px;top: 0;height: 100%;}
.rds:after {border-bottom: 3px solid #199BDC;content: "";position: absolute;left: 0px;bottom: 0;width: 100%;}
.rmv {background-color:rgba(25, 155, 220, 0.2);}
.rmv_p {background-color: rgba(17, 110, 156, 0.4)}
.dm1{;position:absolute;top:1px;right:-1px;height:13px;width:13px;border-radius: 15px;line-height: 11px;}
.dm2{;position:absolute;top:1px;left:0;background-color:#199BDC;color: white;height:13px;width:13px;border-radius: 15px;line-height: 11px;}
.hlc{color:#ff7985;background-color:#64df6a;}
.rmbt{background-color: #d8f4b9; height: 18px; width: 18px; border-radius: 15px; line-height: 18px; left: 21px; margin-left: 6px; margin-top: 1px}
#rah{padding-top:0.5em;text-align:center;}
#ra{text-align:center;padding-top:0.7em;padding-bottom:0.5m;}
 .wup-content {display: none}
 .wup {position: absolute; top: 0; left: 0; z-index: 9999; display: none; min-width: 50px; min-height: 32px; text-align: left; white-space: normal; background-color: #ffffff; background-clip: padding-box; border: 1px solid #cccccc; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)}
.wup.top, .wup.top-left, .wup.top-right {margin-top: -10px}
.wup.right, .wup.right-top, .wup.right-bottom {margin-left: 10px}
.wup.bottom, .wup.bottom-left, .wup.bottom-right {margin-top: 10px}
.wup.left, .wup.left-top, .wup.left-bottom {margin-left: -10px}
.wup.pop {-webkit-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); -webkit-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5); -o-transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5); transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5); opacity: 0; filter: alpha(opacity=0)}
.wup.pop-out {-webkit-transition-property: "opacity,transform"; -o-transition-property: "opacity,transform"; transition-property: "opacity,transform"; -webkit-transition: 0.15s linear; -o-transition: 0.15s linear; transition: 0.15s linear; opacity: 0; filter: alpha(opacity=0)}
.wup.fade, .wup.fade-out {-webkit-transition: opacity 0.15s linear; -o-transition: opacity 0.15s linear; transition: opacity 0.15s linear; opacity: 0; filter: alpha(opacity=0)}
.wup.out {opacity: 0; filter: alpha(opacity=0)}
.wup.in {-webkit-transform: none; -o-transform: none; transform: none; opacity: 1; filter: alpha(opacity=100)}
.wup .wup-content {overflow: auto; display: block}
.wup-inner .close {font-family: arial; margin: 8px 10px 0 0; float: right; font-size: 16px; font-weight: bold; line-height: 16px; color: #000000; text-shadow: 0 1px 0 #fff; opacity: 0.2; filter: alpha(opacity=20); text-decoration: none}
.wup-inner .close:hover, .wup-inner .close:focus {opacity: 0.5; filter: alpha(opacity=50)}
.wup-inner .close:after {content: "\00D7"; width: 0.8em; height: 0.8em; padding: 4px; position: relative}
.wup-title {padding: 8px 14px; margin: 0; height: 20px; font-size: 1em; font-weight: bold; line-height: 14px; background-color: #ffffff; text-align:center; border-radius: 5px 5px 0 0}
.wup-content {overflow: auto; display: none}
.wup-inverse {background-color: #333333; color: #eeeeee}
.wup-inverse .wup-title {background: #333333; border-bottom: 1px solid #3b3b3b; color: #eeeeee}
.wup-no-padding .wup-content {padding: 0}
.wup-no-padding .list-group-item {border-right: none; border-left: none}
.wup-no-padding .list-group-item:first-child {border-top: 0}
.wup-no-padding .list-group-item:last-child {border-bottom: 0}
.wup > .wup-arrow, .wup > .wup-arrow:after {position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid}
.wup > .wup-arrow {border-width: 11px}
.wup > .wup-arrow:after {border-width: 10px; content: ""}
.wup.top > .wup-arrow, .wup.top-right > .wup-arrow, .wup.top-left > .wup-arrow {bottom: -11px; left: 50%; margin-left: -11px; border-top-color: #999999; border-top-color: rgba(0, 0, 0, 0.25); border-bottom-width: 0}
.wup.top > .wup-arrow:after, .wup.top-right > .wup-arrow:after, .wup.top-left > .wup-arrow:after {content: " "; bottom: 1px; margin-left: -10px; border-top-color: #ffffff; border-bottom-width: 0}
.wup.right > .wup-arrow, .wup.right-top > .wup-arrow, .wup.right-bottom > .wup-arrow {top: 50%; left: -11px; margin-top: -11px; border-left-width: 0; border-right-color: #999999; border-right-color: rgba(0, 0, 0, 0.25)}
.wup.right > .wup-arrow:after, .wup.right-top > .wup-arrow:after, .wup.right-bottom > .wup-arrow:after {content: " "; left: 1px; bottom: -10px; border-left-width: 0; border-right-color: #ffffff}
.wup.bottom > .wup-arrow, .wup.bottom-right > .wup-arrow, .wup.bottom-left > .wup-arrow {top: -11px; left: 50%; margin-left: -11px; border-bottom-color: #999999; border-bottom-color: rgba(0, 0, 0, 0.25); border-top-width: 0}
.wup.bottom > .wup-arrow:after, .wup.bottom-right > .wup-arrow:after, .wup.bottom-left > .wup-arrow:after {content: " "; top: 1px; margin-left: -10px; border-bottom-color: #ffffff; border-top-width: 0}
.wup.left > .wup-arrow, .wup.left-top > .wup-arrow, .wup.left-bottom > .wup-arrow {top: 50%; right: -11px; margin-top: -11px; border-right-width: 0; border-left-color: #999999; border-left-color: rgba(0, 0, 0, 0.25)}
.wup.left > .wup-arrow:after, .wup.left-top > .wup-arrow:after, .wup.left-bottom > .wup-arrow:after {content: " "; right: 1px; border-right-width: 0; border-left-color: #ffffff; bottom: -10px}
.wup-inverse.top > .wup-arrow, .wup-inverse.top-left > .wup-arrow, .wup-inverse.top-right > .wup-arrow, .wup-inverse.top > .wup-arrow:after, .wup-inverse.top-left > .wup-arrow:after, .wup-inverse.top-right > .wup-arrow:after {border-top-color: #333333}
.wup-inverse.right > .wup-arrow, .wup-inverse.right-top > .wup-arrow, .wup-inverse.right-bottom > .wup-arrow, .wup-inverse.right > .wup-arrow:after, .wup-inverse.right-top > .wup-arrow:after, .wup-inverse.right-bottom > .wup-arrow:after {border-right-color: #333333}
.wup-inverse.bottom > .wup-arrow, .wup-inverse.bottom-left > .wup-arrow, .wup-inverse.bottom-right > .wup-arrow, .wup-inverse.bottom > .wup-arrow:after, .wup-inverse.bottom-left > .wup-arrow:after, .wup-inverse.bottom-right > .wup-arrow:after {border-bottom-color: #333333}
.wup-inverse.left > .wup-arrow, .wup-inverse.left-top > .wup-arrow, .wup-inverse.left-bottom > .wup-arrow, .wup-inverse.left > .wup-arrow:after, .wup-inverse.left-top > .wup-arrow:after, .wup-inverse.left-bottom > .wup-arrow:after {border-left-color: #333333}
.wup i.icon-refresh:before {content: ""}
.wup i.icon-refresh {display: block; width: 30px; height: 30px; font-size: 20px; top: 50%; left: 50%; position: absolute; margin-left: -15px; margin-right: -15px; background: url(../img/loading.gif) no-repeat}
@-webkit-keyframes rotate {100% {-webkit-transform: rotate(360deg)}
}
@keyframes rotate {100% {transform: rotate(360deg)}
}
.wup-backdrop {background-color: rgba(0, 0, 0, 0.65); width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9998}
.wup .dropdown-menu {display: block; position: relative; top: 0; border: none; box-shadow: none; float: none}
.ui-segment{ color: #199BDC; border: 1px solid #199BDC; border-radius: 4px; display:inline-block}
.ui-segment span.option.active{ background-color: #199BDC; color: white}
.ui-segment span.option{ font-size: 13px; padding-left: 23px; padding-right: 23px; height: 25px; text-align:center; display:inline-block; line-height: 25px; margin: 0px; float:left; cursor:pointer; border-right:1px solid #199BDC}
.ui-segment span.option:last-child{ border-right: none}
.segment-select{ display:none}
 .mfp-bg {top: 0; left: 0; width: 100%; height: 100%; z-index: 1042; overflow: hidden; position: fixed; background: #000; opacity: 0.2}
.mfp-wrap {top: 0; left: 0; width: 100%; height: 100%; z-index: 1043; position: fixed; outline: none !important; -webkit-backface-visibility: hidden}
.mfp-container {text-align: center; position: absolute; width: 100%; height: 100%; left: 0; top: 0; padding: 0 8px; box-sizing: border-box}
.mfp-container:before {content: ''; display: inline-block; height: 100%; vertical-align: middle}
.mfp-align-top .mfp-container:before {display: none}
.mfp-content {position: relative; display: inline-block; vertical-align: middle; margin: 0 auto; text-align: left; z-index: 1045}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {width: 100%; cursor: auto}
.mfp-ajax-cur {cursor: progress}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {cursor: -moz-zoom-out; cursor: -webkit-zoom-out; cursor: zoom-out}
.mfp-zoom {cursor: pointer; cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: zoom-in}
.mfp-auto-cursor .mfp-content {cursor: auto}
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {-webkit-user-select: none; -moz-user-select: none; user-select: none}
.mfp-loading.mfp-figure {display: none}
.mfp-hide {display: none !important}
.mfp-preloader {color: #CCC; position: absolute; top: 50%; width: auto; text-align: center; margin-top: -0.8em; left: 8px; right: 8px; z-index: 1044}
.mfp-preloader a {color: #CCC}
.mfp-preloader a:hover {color: #FFF}
.mfp-s-ready .mfp-preloader {display: none}
.mfp-s-error .mfp-content {display: none}
button.mfp-close, button.mfp-arrow {overflow: visible; cursor: pointer; background: transparent; border: 0; -webkit-appearance: none; display: block; outline: none; padding: 0; z-index: 1046; box-shadow: none; touch-action: manipulation}
button::-moz-focus-inner {padding: 0; border: 0}
.mfp-close {width: 44px; height: 44px; line-height: 44px; position: absolute; right: 0; top: 0; text-decoration: none; text-align: center; opacity: 0.65; padding: 0 0 18px 10px; color: #FFF; font-style: normal; font-size: 28px; font-family: Arial, Baskerville, monospace}
.mfp-close:hover, .mfp-close:focus {opacity: 1}
.mfp-close:active {top: 1px}
.mfp-close-btn-in .mfp-close {color: #333}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {color: #FFF; right: -6px; text-align: right; padding-right: 6px; width: 100%}
.mfp-counter {position: absolute; top: 0; right: 0; color: #CCC; font-size: 12px; line-height: 18px; white-space: nowrap}
.mfp-arrow {position: absolute; opacity: 0.65; margin: 0; top: 50%; margin-top: -55px; padding: 0; width: 90px; height: 110px; -webkit-tap-highlight-color: transparent}
.mfp-arrow:active {margin-top: -54px}
.mfp-arrow:hover, .mfp-arrow:focus {opacity: 1}
.mfp-arrow:before, .mfp-arrow:after {content: ''; display: block; width: 0; height: 0; position: absolute; left: 0; top: 0; margin-top: 35px; margin-left: 35px; border: medium inset transparent}
.mfp-arrow:after {border-top-width: 13px; border-bottom-width: 13px; top: 8px}
.mfp-arrow:before {border-top-width: 21px; border-bottom-width: 21px; opacity: 0.7}
.mfp-arrow-left {left: 0}
.mfp-arrow-left:after {border-right: 17px solid #FFF; margin-left: 31px}
.mfp-arrow-left:before {margin-left: 25px; border-right: 27px solid #3F3F3F}
.mfp-arrow-right {right: 0}
.mfp-arrow-right:after {border-left: 17px solid #FFF; margin-left: 39px}
.mfp-arrow-right:before {border-left: 27px solid #3F3F3F}
.mfp-iframe-holder {padding-top: 40px; padding-bottom: 40px}
.mfp-iframe-holder .mfp-content {line-height: 0; width: 100%; max-width: 900px}
.mfp-iframe-holder .mfp-close {top: -40px}
.mfp-iframe-scaler {width: 100%; height: 0; overflow: hidden; padding-top: 56.25%}
.mfp-iframe-scaler iframe {position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: #000}
 img.mfp-img {width: auto; max-width: 100%; height: auto; display: block; line-height: 0; box-sizing: border-box; padding: 40px 0 40px; margin: 0 auto}
 .mfp-figure {line-height: 0}
.mfp-figure:after {content: ''; position: absolute; left: 0; top: 40px; bottom: 40px; display: block; right: 0; width: auto; height: auto; z-index: -1; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: #444}
.mfp-figure small {color: #BDBDBD; display: block; font-size: 12px; line-height: 14px}
.mfp-figure figure {margin: 0}
.mfp-bottom-bar {margin-top: -36px; position: absolute; top: 100%; left: 0; width: 100%; cursor: auto}
.mfp-title {text-align: left; line-height: 18px; color: #F3F3F3; word-wrap: break-word; padding-right: 36px}
.mfp-image-holder .mfp-content {max-width: 100%}
.mfp-gallery .mfp-image-holder .mfp-figure {cursor: pointer}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) { .mfp-img-mobile .mfp-image-holder {padding-left: 0; padding-right: 0}
.mfp-img-mobile img.mfp-img {padding: 0}
.mfp-img-mobile .mfp-figure:after {top: 0; bottom: 0}
.mfp-img-mobile .mfp-figure small {display: inline; margin-left: 5px}
.mfp-img-mobile .mfp-bottom-bar {background: rgba(0, 0, 0, 0.6); bottom: 0; margin: 0; top: auto; padding: 3px 5px; position: fixed; box-sizing: border-box}
.mfp-img-mobile .mfp-bottom-bar:empty {padding: 0}
.mfp-img-mobile .mfp-counter {right: 5px; top: 3px}
.mfp-img-mobile .mfp-close {top: 0; right: 0; width: 35px; height: 35px; line-height: 35px; background: rgba(0, 0, 0, 0.6); position: fixed; text-align: center; padding: 0}
}
@media all and (max-width: 900px) {.mfp-arrow {-webkit-transform: scale(0.75); transform: scale(0.75)}
.mfp-arrow-left {-webkit-transform-origin: 0; transform-origin: 0}
.mfp-arrow-right {-webkit-transform-origin: 100%; transform-origin: 100%}
.mfp-container {padding-left: 6px; padding-right: 6px}
}
a {color:#199BDC;}
.tmap {stroke: #29749a;stroke-width:2;fill:none;}
.hmap_info {bottom:0px; left:0px; right:0px; border-radius:3px;background-color:#eee;border: 1px solid #ddd;padding:4px;text-align:center;font-size:12px;}
#hmap_tlink {font-weight:bold;}
.loc_dir path {fill:#199BDC;stroke:#0e3548;}
.sl circle {fill:#a9e2ff;stroke:#1f4b61;}
.tl circle {fill:white;stroke:black}
.sh circle {fill:#E5e5e5;}
.t_sel circle {fill:#f7e8a6;}
.poi circle {fill:#29749a;cursor: pointer;}
.loc_dir, .tl, .sl {cursor: pointer;}
.dm_map_ctrl span {padding:3px;cursor: pointer;}
.dm_map_ctrl .cur{background-color:#eee;}
.tmapp {font-size: 16px; cursor:pointer;position:absolute; bottom: 15px; right: 14px;}
.dml {clear:both;margin-left:auto;margin-right:auto;position:relative;height:21px}
.dmc {font-size: 12px;overflow: hidden;white-space: nowrap;text-align: center;width: 19px;height: 19px;border: 1px solid #999;float:left;margin: -1px -1px 0 0;padding-top:1px;padding-left:1px;position:absolute;}
.map_legend {text-align:center;padding-top:0.5em;clear:both;}
.dmw {background-color:rgba(0, 0, 0, 0.1);}
.dmv {background-color:rgba(25, 155, 220, 0.07);}
.dmve {border: 0px;background-color: rgba(0, 0, 0, 0.03);}
.dmv:hover {background-color:rgba(25, 155, 220, 0.2);cursor:pointer;}
#dm_map {text-align:center;margin-top:5px;}
.dm_cr_link {margin: 0 0 1em 0;display: block;}
.dm_cr_note {padding:5px 15px 5px 15px;}
.dm_map_intro {margin:10px 0 10px 0;border-bottom: 1px solid #DCDBB6;}
.dm_map_stats {font-weight:bold;font-size:1em;padding:2px;}
.dm_map_another {}
#wrd_map .dml{height:16px;}
#wrd_map .dmc{height:14px;width:14px;font-size:10px;}
.dm_map_title {font-weight:bold;font-size:1.0em;padding-top: 1em;}
.dm_map_header {position:relative;text-align:left;}
.dm_map_footer {font-size:90%;padding-left: 15px;padding-right: 15px;}
.dm_map_expt {padding-left: 15px;padding-right: 15px;padding-top:10px;padding-bottom:10px;}
.dmp {background-color:rgba(25, 155, 220, 0.2);}
.dmbc:hover {background-color:rgba(25, 155, 220, 0.4);cursor:pointer;}
.mnav {padding-top:1em;}
.dl_capt {font-weight:bold;padding-left: 15px;}
.dl_val {position: absolute;right: 15px;}
.dm_map_ld{padding-top:1em;padding-left:15px;padding-right:15px;}