.STHLink {
  height: 100%;
}

.STHLink-text {
  width: 100%;
}
.STHLink h1,
.STHLink h2 {
  color: white;
  text-align: center;
}
.STH-Progressbar {
  background-color: skyblue;
  height: 5rem;
  border-radius: 0.5rem;
  margin: 3rem 0;
}
.STHSubmit {
  background-color: skyblue;
  border-radius: 0.2rem;
  color: white;
  font-size: 16px;
  padding: 1rem 2rem;
  margin: 1rem 0;
}

.STHSubmit:disabled {
  background-color: #a0a0a0;
}

.STHTable-cover {
  max-height: 20rem;
  overflow: scroll;
}
