.STHApp {
  text-align: center;
  background-color: #282c34;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem;
}

.STHApp-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 500;
  padding: 10rem 20rem;
}

.STHApp-close {
  color: red;
  font-size: 30px;
  position: absolute;
  top: 10rem;
  right: 10rem;
  cursor: pointer;
}
.STHApp-copyright {
  font-size: 8px;
}
.STHApp-footer {
  text-align: right;
}
.STHApp-content {
  height: calc(100% - 30px);
}
